@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100vh;
}
.main .preview {
  position: relative;
  padding-top: 60px;
  width: 100%;
  height: 264px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.95%, #000000 148.75%), url("../img/preview.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .preview__watermark {
  background: url("../img/mobile/Group.svg");
  top: 60px;
  width: 50px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .preview__watermark-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .preview__header {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 14px;
}
.main .preview__p {
  font-size: 11px;
  line-height: 15px;
}
.main .preview__bottom {
  position: absolute;
  bottom: 10px;
}
.main .preview__bottom a {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .preview__bottom-p {
  font-size: 10px;
  line-height: 14px;
}
.main .changes {
  width: calc(100% - 20px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 147px;
  color: #000000;
}
.main .changes__header {
  color: #765151;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.main .changes__content-p {
  margin-top: 10px;
  font-size: 9px;
  line-height: 13px;
  font-weight: 400;
}
.main .opportunities {
  background: #E9E6E6;
  padding-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .opportunities__header {
  width: 250px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #765151;
}
.main .opportunities__content {
  width: calc(100% - 28px);
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .opportunities__content-item {
  height: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
}
.main .opportunities__content-item:first-child {
  margin-right: 4px;
}
.main .opportunities__content-item:first-child .first {
  width: 100%;
  height: 80px;
  background: url(../img/world.svg) center center;
  background-size: cover;
}
.main .opportunities__content-item:last-child {
  margin-left: 4px;
}
.main .opportunities__content-item:last-child .second {
  width: 100%;
  height: 80px;
  background: url(../img/yourself.svg) center center;
  background-size: cover;
}
.main .opportunities__content-item--header {
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #765151;
  margin: 16px 0;
}
.main .opportunities__content-item--p {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% - 28px);
  margin: 0 auto;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #000000;
}
.main .opportunities__content-button {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12.0792px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 2.07954px;
  color: #F0E3DF;
}
.main .opportunities__content-button--p {
  color: #F0E3DF;
  padding: 7px 21px;
  background: #765151;
}
.main .social {
  width: 100%;
  height: 114px;
  background: #F0E3DF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .social__header {
  margin-top: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #765151;
}
.main .social__content {
  margin-top: 16px;
  display: flex;
}
.main .social__content-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.997932px;
  color: #765151;
}
.main .social__content-items a:first-child {
  margin: 0 8px;
}
.main .questions {
  background: #F5F5F3;
}
.main .questions__header {
  font-style: normal;
  font-weight: normal;
  font-size: 20.48px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.426667px;
  color: #404040;
  padding: 34px 0;
}
.main .questions__content {
  width: calc(100% - 34px);
  margin: 0 auto;
}
.main .questions__content-category {
  font-style: normal;
  font-weight: normal;
  font-size: 8.53333px;
  line-height: 10px;
  letter-spacing: 2.048px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 19px;
}
.main .questions__content-item {
  padding-bottom: 24px;
  border-bottom: 0.853333px solid #E5E5E5;
}
.main .questions__content-item--pre {
  position: relative;
  margin-top: 8px;
  width: 100%;
  display: flex;
}
.main .questions__content-item--pre_title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #404040;
}
.main .questions__content-item--pre_arrow {
  position: absolute;
  right: 4px;
  top: 5px;
}
.main .questions__content-item--text {
  text-align: left;
  width: 270px;
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  color: #8E8E8E;
}
.main .questions__content .questions__content-item--text.txft {
  display: block;
}
.main .questions__content .questions__content-item--text.txtd {
  display: none;
}
.main .footer {
  height: 60px;
}
.main .footer__text {
  margin-left: 17px;
  height: 34px;
  width: 187px;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 160%;
  color: #9b9b9b;
  padding: 13px 0;
}
.main .footer__text-link {
  color: #d7bb82;
}

@media screen and (min-width: 768px) {
  .main .preview {
    padding-top: 160px;
    height: 680px;
  }
  .main .preview__watermark {
    width: 110px;
    height: 51px;
    background: url("../img/tablet/Group.svg");
  }
  .main .preview__header {
    font-weight: bold;
    font-size: 35.946px;
    line-height: 64px;
    letter-spacing: 2.56757px;
    margin: 10px;
  }
  .main .preview__p {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    margin: -18px;
  }
  .main .preview__bottom {
    bottom: 25px;
  }
  .main .preview__bottom-p {
    font-size: 30px;
    line-height: 41px;
  }
  .main .preview__bottom-arrow {
    margin-top: 10px;
    width: 25px;
  }
  .main .changes {
    width: calc(100% - 140px);
    height: 275px;
    padding-bottom: 15px;
  }
  .main .changes__header {
    margin-top: 20px;
    font-size: 30px;
    line-height: 41px;
  }
  .main .changes__content-p {
    margin-top: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
  }
  .main .opportunities {
    padding-top: 48px;
  }
  .main .opportunities__header {
    width: 500px;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 1px;
  }
  .main .opportunities__content {
    width: calc(100% - 232px);
    margin-top: 36px;
  }
  .main .opportunities__content-item {
    height: 390px;
  }
  .main .opportunities__content-item:first-child {
    margin-right: 12px;
  }
  .main .opportunities__content-item:first-child .first {
    height: 147px;
  }
  .main .opportunities__content-item:last-child {
    margin-left: 12px;
  }
  .main .opportunities__content-item:last-child .second {
    height: 147px;
  }
  .main .opportunities__content-item--header {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.29565px;
    margin: 25px 0;
  }
  .main .opportunities__content-item--p {
    padding: 24px 0;
    font-size: 14px;
    line-height: 19px;
  }
  .main .opportunities__content-button {
    padding: 40px 0;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 3.46589px;
  }
  .main .opportunities__content-button--p {
    padding: 12px 31px;
  }
  .main .social {
    height: 275px;
  }
  .main .social__header {
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 1px;
  }
  .main .social__content {
    margin-top: 48px;
  }
  .main .social__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.77947px;
  }
  .main .social__content-items a:first-child {
    margin-left: 11px;
    margin-right: 18px;
  }
  .main .social__content a:first-child img {
    content: url("../img/tablet/inst.svg");
  }
  .main .social__content a:last-child img {
    content: url("../img/tablet/vk.svg");
  }
  .main .questions {
    background: #ffffff;
  }
  .main .questions__header {
    font-size: 24px;
    line-height: 32px;
    padding-top: 48px;
    padding-bottom: 35px;
  }
  .main .questions__content {
    width: calc(100% - 82px);
    margin: 0 auto;
  }
  .main .questions__content-category {
    display: none;
  }
  .main .questions__content-item {
    color: #404040;
    border-bottom: 1px solid #ADADAD;
  }
  .main .questions__content-item--pre {
    width: 100%;
    margin-top: 24px;
  }
  .main .questions__content-item--pre_title {
    font-size: 20px;
    line-height: 27px;
  }
  .main .questions__content-item--pre_arrow {
    content: url("../img/tablet/arrow.svg");
  }
  .main .questions__content-item--text {
    margin-top: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 150%;
  }
  .main .questions__content-item:first-child {
    border-top: 1px solid #ADADAD;
  }
  .main .questions__content-item:last-child {
    margin-bottom: 100px;
  }
  .main .questions__content .questions__content-item--text.txft {
    display: none;
  }
  .main .questions__content .questions__content-item--text.txtd {
    display: block;
  }
  .main .questions__content .questions__content-item--pre_title.tltd {
    font-weight: 700;
  }
  .main .questions__content:last-child {
    border-bottom: 1px solid #ADADAD;
  }
  .main .footer {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    width: 1440px;
    margin: 0 auto;
  }
  .main .preview {
    padding-top: 230px;
    height: 680px;
  }
  .main .preview__header {
    font-size: 60px;
    line-height: 80px;
  }
  .main .preview__p {
    font-size: 30px;
    line-height: 41px;
  }
  .main .opportunities__header {
    width: 100%;
  }
  .main .opportunities__content {
    width: 560px;
    margin: 0 auto;
    margin-top: 36px;
  }
  .main .social {
    height: 275px;
  }
  .main .social__header {
    width: 970px;
  }
  .main .social__content-items a:first-child {
    margin-left: 11px;
    margin-right: 18px;
  }
  .main .questions__content-item--text {
    margin-top: 13px;
  }
  .main .questions .questions__content-item--pre_arrow.artd {
    content: url("../img/tablet/arrow_up.svg");
  }
}