@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'config';

body {
    background: $color-full-white;
    color: $color-full-white;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100vh;

    & .preview {
        position: relative;
        padding-top: 60px;
        width: 100%;
        height: 264px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.95%, #000000 148.75%), url('../img/preview.jpg');
        background-blend-mode: multiply;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__watermark {
            background: url('../img/mobile/Group.svg');
            top: 60px;
            width: 50px;
            height: 23px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__header {
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-top: 14px;
        }

        &__p {
            font-size: 11px;
            line-height: 15px;
        }

        &__bottom {
            position: absolute;
            bottom: 10px;

            & a {
                color: $color-full-white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            &-p {
                font-size: 10px;
                line-height: 14px;
            }
        }
    }

    & .changes {
        width: calc(100% - 20px);
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 147px;
        color: $color-full-black;

        &__header {
            color: $color-header;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
        }

        &__content {
            &-p {
                margin-top: 10px;
                font-size: 9px;
                line-height: 13px;
                font-weight: 400;
            }
        }
    }

    & .opportunities {
        background: #E9E6E6;
        padding-top: 16px;

        &__header {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $color-header;
        }

        &__content {
            width: calc(100% - 28px);
            margin: 0 auto;
            margin-top: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            &-item {
                height: 240px;
                display: flex;
                align-items: center;
                flex-direction: column;
                background: $color-full-white;

                &:first-child {
                    margin-right: 4px;

                    .first {
                        width: 100%;
                        height: 80px;
                        background: url(../img/world.svg) center center;
                        background-size: cover;
                    }
                }

                &:last-child {
                    margin-left: 4px;

                    .second {
                        width: 100%;
                        height: 80px;
                        background: url(../img/yourself.svg) center center;
                        background-size: cover;
                    }
                }

                &--header {
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 14px;
                    display: flex;
                    text-align: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #765151;
                    margin: 16px 0;
                }

                &--p {
                    padding: 16px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: calc(100% - 28px);
                    margin: 0 auto;
                    font-weight: normal;
                    font-size: 9px;
                    line-height: 11px;
                    color: #000000;
                }
            }

            &-button {
                padding: 16px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 12.0792px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 2.07954px;

                color: #F0E3DF;

                &--p {
                    color: #F0E3DF;
                    padding: 7px 21px;
                    background: #765151;
                }
            }
        }
    }

    & .social {
        width: 100%;
        height: 114px;
        background: #F0E3DF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__header {
            margin-top: 4px;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $color-header;
        }

        &__content {
            margin-top: 16px;
            display: flex;

            &-text {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.997932px;
                color: #765151;
            }

            &-items {
                & a:first-child {
                    margin: 0 8px;
                }
            }
        }
    }

    & .questions {
        background: $color-background-grey;

        &__header {
            font-style: normal;
            font-weight: normal;
            font-size: 20.48px;
            line-height: 27px;
            text-align: center;
            letter-spacing: -0.426667px;
            color: $color-medium-grey;
            padding: 34px 0;
        }

        &__content {
            width: calc(100% - 34px);
            margin: 0 auto;

            &-category {
                font-style: normal;
                font-weight: normal;
                font-size: 8.53333px;
                line-height: 10px;
                letter-spacing: 2.048px;
                text-transform: uppercase;
                color: $color-full-black;
                margin-bottom: 19px;
            }

            &-item {
                padding-bottom: 24px;
                border-bottom: 0.853333px solid #E5E5E5;


                &--pre {
                    position: relative;
                    margin-top: 8px;
                    width: 100%;
                    display: flex;

                    &_title {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        color: #404040;
                    }

                    &_arrow {
                        position: absolute;
                        right: 4px;
                        top: 5px;
                    }
                }

                &--text {
                    text-align: left;
                    width: 270px;
                    margin-top: 4px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 9px;
                    line-height: 12px;
                    color: #8E8E8E;
                }
            }

            .questions__content-item--text.txft {
                display: block;
            }

            .questions__content-item--text.txtd {
                display: none;
            }
        }
    }

    & .footer {
        height: 60px;

        &__text {
            margin-left: 17px;
            height: 34px;
            width: 187px;
            font-style: normal;
            font-weight: normal;
            font-size: 10.24px;
            line-height: 160%;
            color: #9b9b9b;
            padding: 13px 0;

            &-link {
                color: #d7bb82;
            }
        }
    }
}

@import 'responsive';